anthropic==0.120.2
faiss-cpu==1.14.3
ipykernel==6.29.5
matplotlib==3.10.8
networkx==3.6.1
numpy==2.3.0
pandas==2.3.0
pyarrow==23.0.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
seaborn==0.13.2
sentence-transformers==5.2.0
